.carroussel{
    height:400px;
    width:80%;
    margin: 0 auto;
    overflow: hidden;
    background-color: gray;

    .regular{
        width: 90%;
        height: 100%;
        margin: 0 auto;

        div{
            height: 100%;
            width: 100%;
            background-color: red;
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
        }
    }
}
  
 

