/*
carroussel{
    height:400px;
    width:80%;
    margin: 0 auto;
    overflow: hidden;
    background-color: white;

    p{
        @extend %subtitle-breadcrumbs;
        font-size: 28px;
        text-align: center;
        margin-bottom: 20px;
    }

    .selectorsNews{
        height: 300px;
        width: 100%;
        font-size: 0;                                                                                                                                          

        .arrow{
            font-size: 15px;
            width: 5%;
            height: 100%;
            line-height: 100%;
            background-color: gray;
            display: inline-block;
            position: relative;

            p{
                position: absolute;
                text-align: center;
                vertical-align: middle;
                font-family: sans-serif;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
        }
            
        .bodySelector{
            width: 90%;
            height: 100%;
            background-color: darkgray;
            display: inline-block;
        }
    }
}
*/
.pure-js-carousel {
    overflow: hidden;
  }
  
  .pure-js-carousel-list:before,
  .pure-js-carousel-list:after {
    content: "";
    display: table;
  }
  
  .pure-js-carousel-list:after {
    clear: both;
  }
  
  .pure-js-carousel-slide {
    float: left;
  }

