.grid_products{
    width: 80%;
    height: 2800px;
    margin: 0 auto;
    background-color: white;

    .breadcrumb{
        width: 95%;
        margin: 0 auto;
    

        li{
            list-style: none;
            display: inline-block;

            a{
                @extend %subtitle-breadcrumbs;
            }
        }

        li+li:before {
            padding: 8px;
            color: black;
            content: "/\00a0";
        }
    }

    h1{
        @extend %maintitle-content;
        font-size: 48px;
        text-transform: uppercase;
        margin-top: 20px;
    }

    .linkShowMore{
        margin-top: 10px;
        width: 100%;
        text-align: center;

        a{
            @extend %subtitle-breadcrumbs;
            text-transform: lowercase;
            text-decoration: underline;
            font-size: 20px;
        }
    }

    .sectionProducts{
        width: 95%;
        height: 180px;
        margin: 0 auto;
        margin-top: 50px;
        font-size: 0;

        .Product{
            display: inline-block;
            height: 100%;
            background-color: gray;
            width: 20%;
            margin-right: 6.6666%;
            @include maintitle-content();

            img{
                width: 100%;
                background-repeat: no-repeat;
                background-size: cover;
            }

            h2{
                margin-top: 10px;
                font-weight: bold;;
            }

            h3{
                margin-top: 5px;
            }
        }

        div:last-child{
            margin-right: 0;
        }

    }
       
}